header {
    border: none;
    background-color: #000;
    border-bottom: 1px solid grey;
    width: 100%;
    img {
        display: block;
        height: 80px;
        margin: 0 auto;
        width: 80px;
    }
}