@import "sass/header.scss";
html {
    height: 100%;
    width: 100%;
    body {
        background: url('./images/bg.jpg') center center no-repeat;
        background-size: cover;
        color: red;
        font-size: 16px;
        height: 100%;
        width: 100%;
        
    }
}

